/* * {
  border: 1px dotted black;
} */

.header {
  text-align: center;
  color: rgb(68, 66, 66);
  font-size: 30px;
}

.table {
  margin: 50px auto 50px auto;
  font-size: 20px;
}

.td {
  text-align: center;
  font-size: 15px;
}
