/* * {
  border: 0.5px solid black;
} */

nav {
  background-color: #35477d;
  margin: 0 auto;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.logo {
  font-size: 40px;
  margin-left: 15px;
  font-weight: bold;
}
.inline {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.list-style-none {
  list-style: none;
}
.logo-button {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: black 3px;
}
.nav-button {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.nav-pos {
  padding-left: 0px;
  margin-left: 15px;
}
li {
  padding-right: 7px;
  margin-right: 2px;
}

span > ul > li {
  border-right: 1px solid rgb(47, 44, 59);
}
