section {
  margin: 0 auto;
  margin-top: 50px;

  /* width: 0 auto; */
  /* text-align: center; */

  /* background-image: url("https://cdn.herenow.city/assets/uploads/sites/9/2019/02/19163424/73perhaps01-765x511.jpg"); */
}

section {
  border: 1px solid grey;
  background-color: rgb(242, 242, 245);
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20px;
  font-weight: bolder;
}
.go-center {
  margin-left: auto;

  margin-right: auto;
}
