/* * {
  border: 1px dotted grey;
} */

td {
  text-align: left;
}

.header {
  text-align: center;
  font-size: 30px;
}

.table {
  margin: 50px auto 10px auto;
  font-size: 15px;
  padding: 20px;
}

.align {
  text-align: center;
  font-size: 15px;
}
