th {
  font-size: 14px;
  border: 1px solid grey;
}

td {
  padding: 7.5px 7.5px 7.5px 7.5px;
  border: 1px solid grey;
  justify-content: center;
  align-items: center;
}
tr > td {
  font-size: 14px;
  text-align: center;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}

.margin-top {
  margin-top: 20px;
}
